<%
function timeStamp(str) {
  // Create a date object with the current time
    var now = new Date(str);

  // Create an array with the current month, day and time
    var date = [ now.getDate(), now.getMonth() + 1, now.getFullYear() ];

  // Create an array with the current hour, minute and second
    var time = [ now.getHours(), now.getMinutes(), now.getSeconds() ];

  // If hour is 0, set it to 12
    time[0] = time[0] || 12;

  // If seconds and minutes are less than 10, add a zero
    for ( var i = 1; i < 3; i++ ) {
      if ( time[i] < 10 ) {
        time[i] = "0" + time[i];
      }
    }

  // Return the formatted string
    return date.join("/") + " " + time.join(":");
}

function calcSum(data) {
  if (!data) return 0
  var result = 0
  data.forEach(function(e){
    if (e.result)
      e.result.forEach(function(s){
        result += parseInt(s)
      })
  })
  return result
}
%>

<!DOCTYPE HTML>
<html>
    <head>
      <% include ../include/commonHead %>
    </head>
    <body>
      <div class="container">
        <div class="jumbotron"><h1>Statistik</h1><p>Gesamtpunkte: <%=calcSum(data)%></p></div>
        <br>
        <% if (data.filter(function(e){return e.result !== undefined}).length > 0) { %>
        <p class="text-right"><button class="btn btn-danger" onClick="var r = confirm('Alle Einträge aus der Statistik löschen?');if (r == true) {window.location.href='<%=prefix%>/clearstats'}">Einträge löschen</button></p><% } else { %>
        <p>Keine Einträge vorhanden</p>
        <% }%>
        <ul class="list-group">
        <% for (var i = data.length - 1; i >= 0; i--) { 
          if (data[i].colony != col) continue
           var c = data[i] 
           if (!c.result) { continue } %>
          <li class="list-group-item">
            <p>
              <% if (c.userid == undefined) { %>
                Gast 
              <% } else { %>
                <strong><%=c.username%></strong>
              <% } %>
            [<%=timeStamp(c.start)%>]</p>
             <% for (var j = 0; j < c.antsName.length; j++) { %>
              <p><%=c.antsName[j]%>: <%=c.result[j]%> Punkte</p>
            <% } %>            
          </li>
        <% } %>
        </ul>
        <br>
        <a class="btn btn-primary" href="/home">zurück</a>
        <div style="height:300px"></div>
      </div>
    </body>
</html>

