<!DOCTYPE html>
<html lang="de">
  <head>
    <% include commonHead %>
  </head>
  <body>


<div class="container">
<%
  globals.sort(function(x, y)
          {
            var xn = x.publicName.toLowerCase();
            var yn = y.publicName.toLowerCase();
            if (yn < xn) return 1;
            if (xn < yn) return -1;
            return 0;
          }
        );
  %>

<% if (!user) { %>
  <div class="jumbotron"><h1>AntIT!</h1>
	<p>Lerne spielerisch das Programmieren mit der coolsten und spannendsten Simulation der Welt! Erlebe, wie deine Ameisenvölker zum Leben erwachen und ihre Umgebung erobern.</p></div>
  <%if(fail == "1"){%>
  <div class="alert alert-danger" role="alert"><strong>Anmeldung gescheitert!</strong> Überprüfe bitte Benutzername und Passwort.</div><%}%>
	<% include menu %>
  <br>
  <p><form action="/login" method="post">
	<div class="form-group">
	<label>Benutzername:</label>
	<input id="startup" type="text" name="username"/>
	<label>Passwort:</label>
	<input type="password" name="password"/>
	<input type="submit" value="Anmelden" class="btn btn-primary btn-sm"/>
	</div>
</form></p>
  <script>
    document.getElementById("startup").focus();
  </script>

<div class="page-header">
	<h3>Simulation</h3>
	</div>
	Starte eine Simulation, um einen Einblick in die Welt von AntIT! zu gewinnen:<br><br>
	<form method="GET" action="/simulation"><div>
	<% 
	for(var t = 1; t <= 8; t++) { %>
	    <div style="float:left;padding-left:10px;"> Team <%=t%>:
	    <select name="team<%=t%>">
        <option value="none">-----</option>
        <% for (var i = 0; i < globals.length; i++) { %>
          <option value="<%=globals[i]._id%>"><%=globals[i].publicName%></option>
        <% } %>
  </select></div>
  <% } %>
  </div>
  <div style="clear:both;"><br><input type="submit" value="Simulation starten" class="btn btn-success"></div>
  </form>

<% } else { %>
  <%
  ants.sort(function(x, y)
          {
            var xn = x.name.toLowerCase();
            var yn = y.name.toLowerCase();
            if (yn < xn) return 1;
            if (xn < yn) return -1;
            return 0;
          }
        );
  %>
  <div class="jumbotron"><h1>AntIT!</h1>
	<p>Hallo, <strong><%= user.displayName %>.</strong> Hier beginnt dein Abenteuer. Fange an, neue Ameisenvölker zu erstellen und kontrolliere ihr Verhalten, indem du den Programmcode änderst. Starte eine Simulation, um deine Völker in Aktion zu erleben.</p></div>
	
	<% include menu %>
  
  <%if (user.superuser) {%>
  <br>
  <br>
  <p>Admin-Tools:</p>
  <ul class="nav nav-pills" role="tablist">
        <li role="presentation"><a href="/repair">Datenbank reparieren</a></li>
        <li role="presentation"><a href="/users">Benutzerverwaltung</a></li>
        <li role="presentation"><a href="/stats">Statistik</a></li>
      </ul>
	<%}%>
	<div class="page-header">
	<h3>Deine Ameisenvölker</h3>
	</div>
	<% if (ants == undefined || ants.length <= 20) { %>
	  <p><a href="/new">neues Ameisevolk</a></p>
	<% } else { %>
	  <p>Maximum erreicht</p>
	<% } %>
	<% if (ants.length == 0) { %>
	  <p>Du hast noch keine Ameisenvölker. Fange an, ein neues Volk zu erstellen.</p>
	<% } else {%>
	<ul class="list-group">
	  <%for (var i = 0; i < ants.length; i++) { %>
	  <li class="list-group-item" style="overflow:auto">
	  <strong><%=ants[i].name%></strong>
	  <%if(ants[i].published){%> (freigegeben)<%}%>
	  <div style="float:right;">
	    <a href="/edit?id=<%=ants[i]._id%>" class="btn btn-xs btn-primary">Bearbeiten</a>
	    <%if(ants[i].published){%>
	    <a href="/unpublish?id=<%=ants[i]._id%>" class="btn btn-xs btn-warning">Freigabe löschen</a>
	    <%} else {%>
	    <a href="/publish?id=<%=ants[i]._id%>" class="btn btn-xs btn-info">Freigeben</a>
	    <%}%>
	    <button onClick="var r = confirm('Willst du \'<%=ants[i].name%>\' sicher löschen?');if (r == true) {window.location.href='/delete?id=<%=ants[i]._id%>';}" href="#" class="btn btn-xs btn-danger">Löschen</button>
	   </div>
	  </li>
  	<% } %>
  	</ul>
  <%} %>
	<div class="page-header">
	<h3>Simulation</h3>
	</div>
	<p><a href="javascript:clear()" style="margin-bottom:10px">Felder zurücksetzen</a></p>
	<script>
	  function clear() {
	    for (i = 1; i <= 8; i++) {
	      document.getElementById("team" + i).value = "none";
	    }
	  }
	</script>
	<form method="GET" action="/simulation"><div>
	<% for(var t = 1; t <= 8; t++) { %>
	    <div style="float:left;padding-left:10px;"> Team <%=t%>:
	    <select name="team<%=t%>" id="team<%=t%>">
        <option value="none">-----</option>
        <% if (ants !== undefined) {
          for (var i = 0; i < ants.length; i++) { %>
          <option value="<%=ants[i]._id%>" <%
            if (user.previous) {
              if (user.previous["team" + t] == ants[i]._id) {
                %> selected="selected"<%
              }
            }
          %>><%=ants[i].name%></option>
        <% } %>
        <% for (var i = 0; i < globals.length; i++) { %>
          <option value="<%=globals[i]._id%>"<%
            if (user.previous) {
              if (user.previous["team" + t] == globals[i]._id) {
                %>selected="selected"<%
              }
            }
          %>><%=globals[i].publicName%></option>
        <% } %>
        <%} %>
  </select></div>
  <% } %></div>
  <div style="clear:both;"><br><input type="submit" value="Simulation starten" class="btn btn-success">
	</div>
  </form>
  
  
	
<% } %>

  
  <div style="height:300px"></div>
</div>
  </body>
</html>
