
<%

function check(num) {
  if (num == highlightElement) {
    return 'class="active"'
  } else {
    return ''
  }
} %>


<ul class="nav nav-pills" role="tablist">
  <li role="presentation" <%-check(0)%>><a href="<%=prefix%>/">AntIT! Home</a></li>
  
  <!--<li role="presentation" <%-check(1)%>><a href="<%=prefix%>/guide">Einführung</a></li>
  <li role="presentation" <%-check(2)%>><a href="<%=prefix%>/doku">Handbuch</a></li>-->
  
  <% if(user) {%>
    <li role="presentation" <%-check(3)%>><a href="<%=prefix%>/level">Level</a></li>
    <% if (user && user.level >= 4) { %>
      <li role="presentation" <%-check(4)%>><a href="<%=prefix%>/wettbewerb">Wettbewerb</a></li>
    <% } %>
    <li role="presentation" <%-check(5)%>><a href="<%=prefix%>/tutorial">Tutorials</a></li>
    <li role="presentation"><a href="<%=prefix%>/logout">abmelden...</a></li>
  <% } %>
</ul>
