<!DOCTYPE HTML>
<html>
    <head>
      <% include commonHead %>
        <style>
            body { margin: 0, overflow: hidden; overflow-y:hidden}
            canvas { width:100%; height:100% }
        </style>
    </head>
    <body>
          <script src="/js/three.min.js"></script>
          <script src="/js/orbit.js"></script>
          <script src="/js/tween.js"></script>
          <script src="/js/stats.min.js"></script>
          <script src="/js/seedrandom.min.js"></script>
          <script src="/src/Optionen.js"></script>
          <% if (devMode) { %>
            <script src="/src/DeveloperMode.js"></script>
          <% } %>
          <script src="/src/mybus.js"></script>
          <script src="/src/Simulation/00-Sim.js"></script>
          <script src="/src/Simulation/02-Util.js"></script>
          <script src="/src/Simulation/04-APIWrapper.js"></script>
          <script src="/src/Simulation/06-SimObject.js"></script>
          <script src="/src/Simulation/08-Position.js"></script>
          <script src="/src/Simulation/10-Playground.js"></script>
          <script src="/src/Simulation/12-Player.js"></script>
          <script src="/src/Simulation/14-Hill.js"></script>
          <script src="/src/Simulation/20-Ant.js"></script>
          <script src="/src/Simulation/22-Sugar.js"></script>
          <script src="/src/Simulation/24-Apple.js"></script>
          <script src="/src/Simulation/26-Bug.js"></script>
          <script src="/src/Simulation/30-API.js"></script>
          <script src="/src/Simulation/99-Seal.js"></script>
          <script src="/src/View/SimPulse.js"></script>
          <script src="/src/View/3d.js"></script>
          <script src="/src/Seal.js"></script>
          
        <div style="position: absolute; z-index: 1; left: 50px; bottom: 40px; width:400px; height:40px;font-size:1em;color:white;">
	<p>Maus: Links - drehen / Rechts - ziehen<br />Touch: Wischen - ziehen / lang tippen - drehen</p>
</div>

<div style="position: absolute; z-index: 3; right: 50px; top: 50px;font-size:1em;color:white;background-color:rgba(255,255,255,0.5);">
	<a href="<%=prefix%>/" class="btn btn-primary">zurück</a>
</div>
<script>
  function hide(){
    document.getElementById("hud").style.height = "25px";
    document.getElementById("collapse").innerHTML = '<a href="javascript:show()">[+]</a>';
  }
  function show(){
    document.getElementById("hud").style.height = "";
    document.getElementById("collapse").innerHTML = '<a href="javascript:hide()">[--]</a>';
  }
</script>

<div id="hud" style="position: absolute; z-index: 2; left: 50px; top: 50px;padding:4px;font-size:1em;font-family:arial;background-color:rgba(255,255,255,0.5);overflow:hidden"></div>
<div id="collapse" style="position: absolute; z-index: 2; left: 20px; top: 50px;padding:4px;font-size:1em;font-family:arial;background-color:rgba(255,255,255,0.5);">
  <a href="javascript:hide()">[--]</a></div>

<div id="loading" style="position: absolute; z-index: 5;top: 100px;font-size:2em;color:white;">
	<span class="label label-default" id="intro-text">Simulationsfehler!</span>
</div>
<script>
<%

  function btoa(str) {
    var buffer
      ;

    if (str instanceof Buffer) {
      buffer = str;
    } else {
      buffer = new Buffer(str.toString(), 'binary');
    }

    return buffer.toString('base64');
  }


  var atLeastOnFile = false;
  if (code) {
    code.forEach(function(c){
      atLeastOnFile = true;
      if (devMode) {
        %>(function(){
        


<%-c.code%>


        
        })();<%
      } else {
        var exportCode = btoa('(function(){' + c.code + '})();')
        %>eval(atob("<%-exportCode%>"));
        <%
      }
    });
  }

%>document.getElementById("intro-text").innerHTML = "Dateien werden geladen ...";<%

  if (!atLeastOnFile) {%>
    document.getElementById('intro-text').innerHTML = "Keine Ameise geladen!"
    throw "Keine Ameise geladen!"
  <%} 

%>
AntIT.StarteSimulation("<%-hash%>", "<%=prefix%>");

</script>
    </body>
</html>

