<!DOCTYPE HTML>
<html>
    <head>
      <% include commonHead %>
        <style>
            body { margin: 0, overflow: hidden; overflow-y:hidden}
            canvas { width:100%; height:100% }
        </style>
    </head>
    <body>
        <% if (srcnew == 1) { %>
          
          <script src="/js/minibus.min.js"></script>
          <script src="/srcnew/simulation/00-head.js"></script>
          <script src="/srcnew/simulation/10-base.js"></script>
          <script src="/srcnew/simulation/11-unit.js"></script>
          <script src="/srcnew/simulation/12-util2d.js"></script>
          <script src="/srcnew/simulation/20-player.js"></script>
          <script src="/srcnew/simulation/21-board.js"></script>
          <script src="/srcnew/simulation/22-hillspawner.js"></script>
          <script src="/srcnew/simulation/25-hill.js"></script>
          <script src="/srcnew/simulation/26-foodspawner.js"></script>
          <script src="/srcnew/simulation/30-ant.js"></script>
          <script src="/srcnew/simulation/31-antspawner.js"></script>
          <script src="/srcnew/simulation/32-antjobqueue.js"></script>
          <script src="/srcnew/simulation/35-sugar.js"></script>
          <script src="/srcnew/simulation/40-apple.js"></script>
          
          <script src="/srcnew/simulation/99-logger.js"></script>
          
          <script src="/js/three.min.js"></script>
          <script src="/srcnew/view/10-view3d.js"></script>
          <script src="/srcnew/view/11-pulse.js"></script>
          <script src="/srcnew/view/12-cache3d.js"></script>
          <script src="/srcnew/view/15-ui.js"></script>
          <script src="/js/orbit.js"></script>
          <script src="/srcnew/view/20-orbit.js"></script>
          <script src="/js/stats.min.js"></script>
          <script src="/srcnew/view/21-stats.js"></script>
          <script src="/srcnew/view/25-softlight.js"></script>
          <script src="/srcnew/view/26-skyngrass.js"></script>
          <script src="/srcnew/view/30-playerview.js"></script>
          <script src="/srcnew/view/31-hud.js"></script>
          <!--<script src="/srcnew/view/35-board3d.js"></script>
          <script src="/srcnew/view/40-hill3d.js"></script>
          <script src="/srcnew/view/45-ant3d.js"></script>
          <script src="/srcnew/view/50-sugar3d.js"></script>
          <script src="/srcnew/view/55-apple3d.js"></script>-->
          
          
          
          <script src="/srcnew/pluginTest.js"></script>
          
          
          <!--<script src="/js/minibus.min.js"></script>
          <script src="/srcnew/engine/head.js"></script>
          <script src="/js/three.min.js"></script>
          <script src="/srcnew/engine/view3d.js"></script>
          <script src="/srcnew/engine/pulse.js"></script>
          <script src="/srcnew/engine/ui.js"></script>
          <script src="/srcnew/engine/cache3d.js"></script>
          <script src="/srcnew/engine/unit.js"></script>
          <script src="/js/orbit.js"></script>
          <script src="/srcnew/engine/orbit.js"></script>
          <script src="/js/stats.min.js"></script>
          <script src="/srcnew/engine/stats.js"></script>
          
          <script src="/srcnew/modules/10-skyngrass.js"></script>
          <script src="/srcnew/modules/15-softlight.js"></script>
          <script src="/srcnew/modules/20-player.js"></script>
          <script src="/srcnew/modules/21-hud.js"></script>
          <script src="/srcnew/modules/25-floor.js"></script>
          <script src="/srcnew/modules/26-util2d.js"></script>
          <script src="/srcnew/modules/27-hillspawner.js"></script>
          <script src="/srcnew/modules/30-hill.js"></script>
          <script src="/srcnew/modules/35-ant.js"></script>
          
          
          <script src="/srcnew/plugin1.js"></script>
          
          <script src="/js/three.min.js"></script>
          <script src="/js/orbit.js"></script>
          <script src="/js/stats.min.js"></script>
          <script src="/srcnew/antitengine.js"></script>
          <script src="/srcnew/plugin1.js"></script>
          <script src="/srcnew/pluginStats.js"></script>
          <script src="/srcnew/pluginOrbit.js"></script>
          <script src="/srcnew/pluginLight.js"></script>
          <script src="/srcnew/pluginWorld.js"></script>
          <script src="/srcnew/pluginPlayer.js"></script>-->
        
        <% } else { %>
          <script src="/js/THREE.js"></script>
          <script src="/js/orbit.js"></script>
          <script src="/js/tween.js"></script>
          <script src="/js/stats.min.js"></script>
          <script src="/src/Optionen.js"></script>
          <% if (devMode) { %>
            <script src="/src/DeveloperMode.js"></script>
          <% } %>
          <script src="/src/3d.js"></script>
          <script src="/src/Simulation.js"></script>
          <script src="/src/SimPulse.js"></script>
        <% } %>
        <div style="position: absolute; z-index: 1; left: 50px; bottom: 40px; width:400px; height:40px;font-size:1em;color:white;">
	<p>Maus: Links - drehen / Rechts - ziehen<br />Touch: Wischen - ziehen / lang tippen - drehen</p>
</div>

<div style="position: absolute; z-index: 3; right: 50px; top: 50px;font-size:1em;color:white;background-color:rgba(255,255,255,0.5);">
	<a href="<%=prefix%>/" class="btn btn-primary">zurück</a>
</div>
<script>
  function hide(){
    document.getElementById("hud").style.height = "25px";
    document.getElementById("collapse").innerHTML = '<a href="javascript:show()">[+]</a>';
  }
  function show(){
    document.getElementById("hud").style.height = "";
    document.getElementById("collapse").innerHTML = '<a href="javascript:hide()">[--]</a>';
  }
</script>

<div id="hud" style="position: absolute; z-index: 2; left: 50px; top: 50px;padding:4px;font-size:1em;font-family:arial;background-color:rgba(255,255,255,0.5);overflow:hidden"></div>
<div id="collapse" style="position: absolute; z-index: 2; left: 20px; top: 50px;padding:4px;font-size:1em;font-family:arial;background-color:rgba(255,255,255,0.5);">
  <a href="javascript:hide()">[--]</a></div>

<div id="loading" style="position: absolute; z-index: 5;top: 100px;font-size:2em;color:white;">
	<span class="label label-default" id="intro-text">Simulationsfehler!</span>
</div>
<script>
<%

  function btoa(str) {
    var buffer
      ;

    if (str instanceof Buffer) {
      buffer = str;
    } else {
      buffer = new Buffer(str.toString(), 'binary');
    }

    return buffer.toString('base64');
  }


  var atLeastOnFile = false;
  if (code) {
    code.forEach(function(c){
      atLeastOnFile = true;
      if (devMode) {
        %>(function(){
        


<%-c.code%>


        
        })();<%
      } else {
        var exportCode = btoa('(function(){' + c.code + '})();')
        %>eval(atob("<%-exportCode%>"));
        <%
      }
    });
  }

%>document.getElementById("intro-text").innerHTML = "Dateien werden geladen ...";<%

  if (!atLeastOnFile) {%>
    fehler("Keine Ameisen geladen!");
  <%} 

%>
var hash = "<%-hash%>";
AntIT.StarteSimulation();
window.onerror=fehler;
function fehler(msg){
 alert("MELDUNG\n" + msg);
 AntIT._abortSimulation();
}
AntIT._onSubmit = function(points) {
  var request = new XMLHttpRequest();
  request.open("GET","<%=prefix%>/submit?hash=" + hash + "&points=" + points);
  request.addEventListener('load', function(event) {
     if (request.status >= 200 && request.status < 300) {
        if (request.responseText == "ok") {
          AntIT._submitFinished()
        }
     }
  });
  request.send();
}
</script>
    </body>
</html>

