<!DOCTYPE HTML>
<html>
    <head>
      <% include commonHead %>
    </head>
    <body>
      <div class="container">
        <div class="jumbotron"><h1>Benutzer</h1></div>
        
        <strong>Benutzer anlegen / ändern</strong>
        <br>
        <form method="POST" action="/addUser">
        Benutzername: <input name="username"><br>
        Anzeigename: <input name="displayName"><br>
        Passwort: <input name="password"><br>
        Superuser: <input type="checkbox" name="superuser"><br><br>
        <input type="submit" class="btn btn-success" value="Hinzufügen"> <a class="btn btn-primary" href="/">zurück</a>
        <hr>
        </form>
        <%users.forEach(function(user){%>
        <p>
          Benutzername: "<%=user.username%>" 
          Anzeigename: "<%=user.displayName%>" <br>
          Superuser: "<%=user.superuser%>"
          Passwort: "<span style="color:white"><%=user.password%></span>" 
          _id: "<%=user._id%>"
          <button onClick="var r = confirm('Willst du den Benutzer \'<%=user.displayName%>\' sicher löschen?\nBenutzerdaten und Ameisenvölker gehen unwiderruflich verloren!');if (r == true) {window.location.href='/deleteUser?id=<%=user._id%>';}" href="#" >Löschen</button>
          </p>
        <%});%>
        <div style="height:300px"></div>
      </div>
    </body>
</html>



