<!DOCTYPE HTML>
<html>
    <head>
      <% include ../include/commonHead %>
    </head>
    <body>
      <div class="container">
        <div class="jumbotron"><h1>Server-Verwaltung</h1></div>
        
        <h2>Kolonie <%=existing?'bearbeiten':'erstellen'%></h2>
        
        <form method="post" action="/root/save">
          <input type="hidden" name="_csrf" value="<%=csrf%>"/>
          
          Name der Kolonie: <input name="colonyName" <%-existing?`readonly value="${colony.colonyName}"`:''%> required minlength="3"/><br>
          Der Name ist eindeutig und besteht aus Kleinbuchstaben und Ziffern. Wird systemintern verwendet.<br><br>
          
          Beschreibung: <input size="100" name="description" value="<%=colony.description%>" required><br>
          Dieser Text wird dem Benutzer angezeigt.<br><br>
          
          Aktiv: <input type="checkbox" name="active" <%-(existing&&!colony.active)?'':'checked'%>/><br>
          Entscheidet darüber, ob die Kolonie in der Auflistung angezeigt wird oder nicht. Anmeldung trotzdem möglich.<br><br>
          
          <% if (existing) { %>
          
          Erstellt am: <input size="30" name="created" value="<%=colony.created.toISOString()%>"><br>
          Kolonien werden absteigend nach Datum sortiert.<br><br>
          
          Statistik:<br>
          <%=stats.superuser%> Administrator<%=stats.superuser!=1?'en':''%><br>
          (<%=stats.adminNames.join(', ')%>)<br>
          <%=stats.user%> Benutzer<br>
          (<%=stats.userNames.join(', ')%>)<br>
          <%=stats.ants%> Ameise<%=stats.ants!=1?'n':''%><br>
          <%=stats.published%> Freigabe<%=stats.published!=1?'n':''%><br>
          <br>
          
          <% } %>
          
          <br>
          
          <a href="/root" class="btn btn-warning btn-sm">Abbrechen</a>
          <input type="Submit" class="btn btn-primary btn-sm" value="Speichern"/>
        </form>
        
        
          
        <% if (existing && stats && stats.user + stats.superuser == 0) { %>
        
        <br><br><hr>
          
          <h3>Danger Zone</h3>
        
          <form method="post" action="/root/delete">
            <input type="hidden" name="_csrf" value="<%=csrf%>"/>
            <input type="hidden" name="colonyName" value="<%=colony.colonyName%>"/>
            Willst du diese Kolonie löschen?<br>
            <input type="submit" class="btn btn-sm btn-danger" value="Ja, Kolonie endgültig löschen"/>
          </form>
        
        <% } %>
        
        <div style="height:300px"></div>
      </div>
    </body>
</html>



