<!DOCTYPE HTML>
<html>
    <head>
      <% include ../include/commonHead %>
    </head>
    <body>
      <div class="container">
        <div class="jumbotron"><h1>Root Server-Verwaltung</h1></div>
        
        <% if (auth) { %>
        
          <% for (var i = 0; i < colonies.length; i++) { %>
            <p <%-colonies[i].active?'':'style="color:grey"'%>><%=colonies[i].colonyName%>: "<%=colonies[i].description%>", erstellt am <%=colonies[i].created.toLocaleDateString()%>
              <form method="post" action="/root/activate">
                <input type="hidden" name="path" value="<%=colonies[i].colonyName%>">
                <input type="submit" class="btn btn-sm btn-primary" value="<%=colonies[i].active?'Deaktivieren':'Aktivieren'%>">
                <input type="hidden" name="_csrf" value="<%=csrf%>">
              </form>
            </p>
            <hr>
          <% } %>
          
          <form method="post" action="/root/add">
            Kolonie hinzufügen:<br>
            Kürzel: <input type="input" name="path"><br>
            Beschreibung: <input type="input" size="100" name="description"><br>
            <input type="hidden" name="_csrf" value="<%=csrf%>">
            <input type="submit" value="Los">
          </form>
          
          <hr>
          
          <a href="/root/logout">Ausloggen</a>
        
        <% } else { %>
        
          <p>Bitte zuerst anmelden:</p>
          <form method="post">
            <input type="password" name="password"/>
            <input type="hidden" name="_csrf" value="<%=csrf%>"/>
            <input type="submit" value="Los"/>
          </form>
        
        <% } %>
        <div style="height:300px"></div>
      </div>
    </body>
</html>



