<!DOCTYPE HTML>
<html>
    <head>
      <% include ../include/commonHead %>
    </head>
    <body>
      <div class="container">
        <div class="jumbotron"><h1>Server-Verwaltung</h1></div>
        
        <% if (auth) { %>
        
          <% if (message) { %>
          
            <div class="alert alert-<%-message.indexOf("OK")<0?'warning':'success'%>"><%-message%></div>
          
          <% } %>
          
          <br><br>
        
          <ul>
            <% for (var i = 0; i < colonies.length; i++) { %>
              <li style="color:<%=colonies[i].active?'black':'grey'%>"><%=colonies[i].colonyName%> | <a href="root/edit/<%=colonies[i].colonyName%>">Bearbeiten</a></li>
            <% } %>
          </ul>
          
          <p><a href="root/new">Neue Kolonie</a></p>
          
          <hr>
          
          <a class="btn btn-sm btn-warning" href="root/logout">Ausloggen</a>
        
        <% } else { %>
        
          <p>Bitte zuerst anmelden:</p>
          <form method="post">
            <input type="password" name="password"/>
            <input type="hidden" name="_csrf" value="<%=csrf%>"/>
            <input type="submit" value="Los"/>
          </form>
        
        <% } %>
        <div style="height:300px"></div>
      </div>
    </body>
</html>



