<% if (user.level == 1) { %>
    
  <div class="card border-primary bg-light mb-3">
    <div class="card-body">
      <h2>Willkommen <%=user.displayName%>!</h2><br>
      <p>Das hier ist deine Startseite. Hier erhälst du eine Übersicht darüber, was deine aktuellen Aufgaben sind. Du kommst hierher, indem du oben links auf das Haus klickst.
      </p>
      
      <p>Für den Anfang sollten dir uns erstmal kennenlernen. Gehe also in die Bibliothek und lese das Tutorial mit dem Namen "Herzlich Willkommen!".
      </p>
      <p>Bearbeite danach zwei Aufgaben auf dem Trainigsplatz.
      </p>
      <p>Viel Spaß!
      </p>
    </div>
  </div>

<% } %> 

<% if (user.level == 2) { %>
    
  <div class="card border-secondary bg-light mb-3">
    <div class="card-body">
      <h2>Guter Einstieg, <%=user.displayName%>.</h2><br>
      <p>Auf der Stufe 2 geht es mit ein paar neuen Befehlen und Techniken weiter. Die passenden Tutorials findest du in der Bibliothek.
      </p>
      <p>Auf dieser Stufe gibt es vier Aufgaben. Davon sind zwei zu bearbeiten, die anderen zwei sind freiwillig. Übersprungene Aufgaben kannst du später immer noch bearbeiten. Klicke dazu im Trainingsplatz auf die frühere Stufe und die Aufgaben klappen auf.
      </p>
      <p>Erstelle ruhig für jede Aufgabe ein neues Ameisenvolk: Du hast aktuell 10 Plätze zur Verfügung, und mit jeder Stufe steigt diese Anzahl. Du musst dir also keine Sorgen machen, dass die Plätze nicht reichen.
      </p>
      <p>Die ersten Schritte sind getan. Wir wünschen dir auch weiterhin viel Motivation und Neugier!
      </p>
    </div>
  </div>

<% } %> 

<% if (user.level == 3) { %>
    
  <div class="card border-warning bg-light mb-3">
    <div class="card-body">
      <h2>Weiter so, <%=user.displayName%>!</h2><br>
      <p>Auf der Stufe 3 wirst du lernen, wie man mit Ereignissen arbeitet. Das ist ein schönes Thema und es gibt dazu ein ausführliches und anschauliches Tutorial. Es warten fünf Aufgaben auf dich, von denen drei zu bearbeiten sind.
      </p>
      <p>Schau dir die neuen Farben deiner Fühler an: Sind sie nicht wunderbar feurig?
      </p>
      
      <p><img class="img-thumbnail" src="/images/l3_fuehler.png">
    </div>
  </div>

<% } %> 

<% if (user.level == 4) { %>
    
  <div class="card border-info bg-light mb-3">
    <div class="card-body">
      <h2><%=user.displayName%>: Noch Noob oder schon Profi?</h2><br>
      <p>Die ersten drei Stufen hast du geschafft. Du bist kein blutiger Anfänger mehr. Die Grundlagen hast du jetzt verstanden.
      </p>
      <p>Nun geht es an fortgeschrittenere Themen. Deine Ameisen werden mit Gift ausgerüstet, du lernst, Gegner aufzuspüren und du kannst deine Teams flexibler setzen.
      </p>
      <p>Von den fünf Aufgaben sind wieder drei zu bearbeiten. Es geht darum, die vorhanden Mittel gezielt einzusetzen und für die Probleme die passende Lösung zu finden.
      </p>
      <p>Bist du bereit, ein Ameisen-Profi zu werden?
      </p>
    </div>
  </div>

<% } %>

<% if (user.level == 5) { %>
    
  <div class="card border-danger bg-light mb-3">
    <div class="card-body">
      <h2><%=user.displayName%>, auf in den Kampf!</h2><br>
      <p>Auf dieser Stufe lernst du, wie die Ameisen miteinander kommunizieren können. Damit ausgerüstet bist du nun bereit für die Kampfarena.
      </p>
      
      <p>Dort kannst du gegen die anderen Ameisenvölker dieser Kolonie spielen. Ruhm und Ehre warten auf dich. Sei bereit für die große Ameisenschlacht!
      </p>
    </div>
  </div>

<% } %> 

<% if (user.level == 6) { %>
    
  <div class="card border-success bg-light mb-3">
    <div class="card-body">
      <h2>Alles logisch, <%=user.displayName%>?</h2><br>
      <p>Die Schlachten sind geschlagen. Du kennst jetzt die wesentlichen Bestandteile der Ameisen-API. Um noch bessere Ameisen zu programmieren, brauchst du das mächtige Werkzeug der Logik. Zwei Tutorials führen dich darin ein.
      </p>
      
      <p>Es gibt wieder vier Aufgaben, von denen zwei zu bearbeiten sind.
      </p>
      
      <p>In der Kampfarena gibt es zwei neue Möglichkeiten: Du kannst nun mehrere Wettkämpfe hintereinander ausführen und es gibt einen neuen Modus, in dem "Frieden" herrscht: Gift wirkt nur gegen Wanzen und es gibt Punkte ausschließlich für Nahrungsmittel.
      </p>
    </div>
  </div>

<% } %> 

<% if (user.level == 7) { %>
    
  <div class="card border-primary bg-light mb-3">
    <div class="card-body">
      <h2>["Hallo", "<%=user.displayName%>", "auf Stufe 7"]</h2><br>
      <p>Der seltsame Syntax aus der Überschrift: Das sind Listen und diese wirst du auf dieser Stufe kennenlernen.
      </p>
      <p>Nach der Logik ist das nun der nächste Schritt, mächtige Ameisen zu programieren. Schaue gleich in die Bibliothek, um zu verstehen, wie diese funktionieren.
      </p>
      
      <p>Außerdem wirst du die telepathischen Fähigkeiten der Ameisen entdecken und feststellen, dass die kleinen Sechsbeiner ganz gut Mathe können ...
      </p>
      
    </div>
  </div>

<% } %> 

<% if (user.level == 8) { %>
    
  <div class="card border-warning bg-light mb-3">
    <div class="card-body">
      <h2>Endspurt, <%=user.displayName%>.</h2><br>
      
      <p>Nach unserem Ausflug in die Welt der Logik und Listen wirst du auf dieser Stufe die letzten Bestandteile der API kennenlernen.
      </p>
      
      <p>Es gibt ein paar neue Variablen, die Ameisen können das Spielfeld vermessen und schließlich lernst du, wie du das Gedächtnis der Ameisen verwenden kannst.
      </p>
      
      <p>Es gibt diesmal vier Aufgaben. Davon sind zwei zu lösen.
      </p>
    </div>
  </div>

<% } %> 

<% if (user.level == 9) { %>
    
  <div class="card border-success bg-light mb-3">
    <div class="card-body">
      <h2>Gratuliere, <%=user.displayName%>!</h2><br>
      <p>Du hast die Stufe 9 erreicht. Dein Titel lautet nun offiziell:
      </p>
      
      <p><strong>Ameisen-Meister</strong></p>
      
      <p>Du darfst Stolz auf dich sein. Auf dem Weg hierher hast du viel gelernt. Du hast knifflige Aufgaben gelöst und große Schlachten geschlagen. Du hast durchgehalten. Und nun hast du es geschafft.
      </p>
      
      <p>Leider wird es damit auch Zeit, Abschied zu nehmen. Aktuell hast du hier das Ende von AntIT! erreicht. In der Bibliothek findest du noch ein letztes Tutorial mit Möglichkeiten, wie es von hier aus weitergeht.
      </p>
      
      <p>Es bleibt uns nur noch zusagen:
      </p>
      
      <p>Alles Gute für deine weitere Zukunft als Programmierer!
      </p>
    </div>
  </div>

<% } %> 
