<!DOCTYPE html>
<html lang="de">
  <head>
    <% include ../include/commonHead %>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron" style="background-image: url(/deco/startseite.png);background-position: center top;background-repeat:no-repeat">
	      <!--<h1>AntIT! Home</h1>
	      <p>Hallo, <strong><%= user.displayName %>.</strong> Hier beginnt dein Abenteuer. Fange an, neue Ameisenvölker zu erstellen und kontrolliere ihr Verhalten, indem du den Programmcode änderst.</p>-->
      </div>
	
	    <% include menu %>
  
      <%if (user.superuser) {%>
        <br><br>
        <p>Admin-Tools:</p>
        <ul class="nav nav-pills" role="tablist">
          <li role="presentation"><a href="/users">Benutzerverwaltung</a></li>
          <li role="presentation"><a href="/stats">Statistik</a></li>
          <li role="presentation"><a href="/overview">Fortschritt</a></li>
        </ul>
	    <% } // endif superuser %>
	    
	    <% include greetings %>
	    
	    <div class="page-header">
	      <h3>Deine Ameisenvölker</h3>
	    </div>
	    
	    <div class = "row">
	      <div class="col-md-2"></div>
	      <div class="col-md-8">
	        <% if (ants == undefined || ants.length < maximum) { %>
	          <p><button class ="btn btn-success btn-sm" onclick="newAnt()">neues Ameisenvolk</button></p>
	          <script>
	            function newAnt() {
	              var x = prompt("Name des neuen Ameisenvolks:")
	              if (x) {
	                window.location = "/new?name=" + x
                }
	            }
	          </script>
	        <% } else { %>
	          <p>Maximum erreicht, mehr Ameisen bei Levelaufstieg.</p>
	        <% } %>
	
	        <% if (ants.length == 0) { %>
	          <p>Du hast noch keine Ameisenvölker. Fange an, ein neues Volk zu erstellen.</p>
	        <% } else {%>
	          <ul class="list-group">
	            <%for (var i = 0; i < ants.length; i++) { %>
	              <li class="list-group-item" style="overflow:auto">
	              <strong><%=ants[i].name%></strong>
	              <%if(ants[i].published){%> (freigegeben)<%}%>
	              <div style="float:right;">
	                <a href="/edit?id=<%=ants[i]._id%>" class="btn btn-xs btn-primary">Bearbeiten</a>
	                <% if (user.level >= 5) { %>
	                  <%if(ants[i].published){%>
	                  <a href="/unpublish?id=<%=ants[i]._id%>" class="btn btn-xs btn-warning">Freigabe löschen</a>
	                  <%} else {%>
	                  <a href="/publish?id=<%=ants[i]._id%>" class="btn btn-xs btn-info">Freigeben</a>
	                  <%}%>
                  <% } %>
	                <button onClick="var r = confirm('Willst du \'<%=ants[i].name%>\' sicher löschen?');if (r == true) {window.location.href='/delete?id=<%=ants[i]._id%>';}" href="#" class="btn btn-xs btn-danger">Löschen</button>
	               </div>
	              </li>
            	<% } %>
          	</ul>
          	<% if (user.level >= 2) { %>
              <p><%=ants.length%> von <%=maximum%> Ameisenvölkern in Verwendung.</p>
            <% } %>
          <%} %>
        </div>
        <div class="col-md-2"></div>
      </div>
    
    <hr>
    <p>Hallo <strong><%=user.displayName%></strong> auf der Kolonie "<%=colonyInfo%>"</p>
    
    <% if (user && user.level >= 5) { %>
  
  
	    
      
    <% } %>
  
  <% if (false) { %>  
    <br><br><p>Neu: <a href="/simulation?fight=1">Kampfmodus ausprobieren</a></p>
  <% } %>
  
  <div style="height:300px"></div>
</div>
  </body>
</html>
