<!DOCTYPE html>
<html lang="de">
  <head>
    <% include ../include/commonHead %>
  </head>
  <body>
    <div class="container-fluid">
      <div class="jumbotron" style="background-image: url(deco/Dorf.png);background-position: center top;background-repeat:no-repeat">
      </div>
	
	    <% include menu %>
	    
	    <div class = "row justify-content-center">
        <div class="col-sm-12" style="max-width:850px">
          <script>
            function newAnt() {
              var x = prompt("Name des neuen Ameisenvolks:")
              if (x) {
                window.location = "new?name=" + x
              } else {
                alert("Kein Name angegeben")
              }
            }
          </script>
          <br>
	
	        <% if (ants.length == 0) { %>
	          <p>Du hast noch keine Ameisenvölker. Fange an, ein neues Volk zu erstellen.</p>
	        <% } else {%>
	          <ul class="list-group">
	            <%for (var i = 0; i < ants.length; i++) { %>
	              <li class="list-group-item py-2" style="overflow:auto">
	              <strong><%=ants[i].name%></strong>
	              <%if(ants[i].published){%> (freigegeben)<%}%>
	              <div style="float:right;">
	                <a href="edit?id=<%=ants[i]._id%>" class="btn btn-sm btn-outline-primary">Bearbeiten</a>
	                <% if (user.level >= 5) { %>
	                  <%if(ants[i].published){%>
	                  <a href="unpublish?id=<%=ants[i]._id%>" class="btn btn-sm btn-outline-warning">Freigabe entfernen</a>
	                  <%} else {%>
	                  <a href="publish?id=<%=ants[i]._id%>" class="btn btn-sm btn-outline-info">Freigeben</a>
	                  <%}%>
                  <% } %>
	                <button onClick="var r = confirm('Willst du \'<%=ants[i].name%>\' sicher löschen?');if (r == true) {window.location.href='delete?id=<%=ants[i]._id%>';}" href="#" class="btn btn-sm btn-outline-danger">Löschen</button>
	               </div>
	              </li>
            	<% } %>
          	</ul>
          <%} %>
          <br>
          <div class="d-flex">
            <div>
              <p><%=ants.length%> von <%=maximum%> Ameisenvölkern in Verwendung</p>
            </div>
            <div class="ml-auto">
              <% if (ants === undefined || ants.length < maximum) { %>
                <p><a href="#" class="btn btn-outline-success btn-sm" onclick="newAnt()">neues Ameisenvolk</a></p>
              <% } else { %>
                <p>Maximum erreicht, mehr Ameisen bei Levelaufstieg.</p>
              <% } %>
            </div>
          </div>
          
          <br>
          <br>
          
	          
          <p>Benutzer: <%=user.displayName%> | Stufe: <%=user.level%> | Kolonie: <%=colonyInfo%></p>
        </div>
      </div>
  
  <div style="height:300px"></div>
</div>
  </body>
</html>
