<!DOCTYPE html>
<html lang="de">
  <head>
    <% include ../include/commonHead %>
  </head>
  <body>
    <div class="container-fluid">
      <div class="jumbotron" style="background-image: url(/deco/dorfzentrum.png);background-position: center top;background-repeat:no-repeat">
      </div>
	
	    <% include menu %>
  
      <%if (false && user.superuser) {%>
        <br><br>
        <p>Admin-Tools:</p>
        <ul class="nav nav-pills" role="tablist">
          <li role="presentation"><a href="/users">Benutzerverwaltung</a></li>
          <li role="presentation"><a href="/stats">Statistik</a></li>
          <li role="presentation"><a href="/overview">Fortschritt</a></li>
          <% if (competitionDone) { %>
            <li role="presentation"><a href="/competitionUndone">Wettbewerb zurückschalten (aktuell frei)</a></li>
          <% } else { %>
            <li role="presentation"><a href="/competitionDone">Wettbewerb fertigschalten (aktuell gesperrt)</a></li>
          <% } %>
        </ul>
	    <% } // endif superuser %>
	    
	    <div class = "row justify-content-center">
        <div class="col-sm-12" style="max-width:850px">
            <br>
            <div class="d-flex">
              <div>
                <h2>Deine Ameisenvölker</h2>
              </div>
              <% if (ants == undefined || ants.length < maximum) { %>
              
                <div class="ml-auto">
                  <button class ="btn btn-success btn-md" onclick="newAnt()">neues Ameisenvolk</button>
                </div>
              <% } else { %>
                <div class="ml-auto"><p class="align-middle">Maximum erreicht, mehr Ameisen bei Levelaufstieg.</p></div>
              <% } %>
            </div>
	          <script>
	            function newAnt() {
	              var x = prompt("Name des neuen Ameisenvolks:")
	              if (x) {
	                window.location = "/new?name=" + x
                } else {
                  alert("Kein Name angegeben")
                }
	            }
	          </script>
	          <br>
	
	        <% if (ants.length == 0) { %>
	          <p>Du hast noch keine Ameisenvölker. Fange an, ein neues Volk zu erstellen.</p>
	        <% } else {%>
	          <ul class="list-group">
	            <%for (var i = 0; i < ants.length; i++) { %>
	              <li class="list-group-item" style="overflow:auto">
	              <strong><%=ants[i].name%></strong>
	              <%if(ants[i].published){%> (freigegeben)<%}%>
	              <div style="float:right;">
	                <a href="/edit?id=<%=ants[i]._id%>" class="btn btn-sm btn-outline-primary">Bearbeiten</a>
	                <% if (user.level >= 5) { %>
	                  <%if(ants[i].published){%>
	                  <a href="/unpublish?id=<%=ants[i]._id%>" class="btn btn-sm btn-outline-warning">Freigabe entfernen</a>
	                  <%} else {%>
	                  <a href="/publish?id=<%=ants[i]._id%>" class="btn btn-sm btn-outline-info">Freigeben</a>
	                  <%}%>
                  <% } %>
	                <button onClick="var r = confirm('Willst du \'<%=ants[i].name%>\' sicher löschen?');if (r == true) {window.location.href='/delete?id=<%=ants[i]._id%>';}" href="#" class="btn btn-sm btn-outline-danger">Löschen</button>
	               </div>
	              </li>
            	<% } %>
          	</ul>
          	<% if (user.level >= 2) { %>
              <br><p><%=ants.length%> von <%=maximum%> Ameisenvölkern in Verwendung</p>
            <% } %>
          <%} %>
        </div>
      </div>
    
   
    
    <% if (user && user.level >= 5) { %>
  
  
	    
      
    <% } %>
  
  <% if (false) { %>  
    <br><br><p>Neu: <a href="/simulation?fight=1">Kampfmodus ausprobieren</a></p>
  <% } %>
  
  <div style="height:300px"></div>
</div>
  </body>
</html>
