<!DOCTYPE html>
<html lang="de">
  <head>
    <% include ../include/commonHead %>
  </head>
  <body>
    <div class="container-fluid">
      <div class="jumbotron" style="background-image: url(deco/Aufgaben.png);background-position: left top;background-repeat:no-repeat"><!--<h1>Aufgaben</h1><p>Versuche diese Aufgaben zu lösen. Daran kannst du zeigen, wie gut du schon mit deinen Ameisen umgehen kannst und steige auf.</p>-->
	    </div>
	    
	    <% include menu %>
	    
	    <!-- Here comes the content -->
	    
	    <% if (id < 0) { %>
	      
        <div class = "row justify-content-center">
          <div class="col-sm-12" style="max-width:850px">
            <p class="my-2 text-right"><a href="level#" onclick="flipAll()" id="flipall">alle aufklappen</a></p>
	          <% for (var i = 1; i <= user.level; i++) { %>
	            <div class="card bg-light py-0">
                <%
                  var count = exIndex[i].length
                  var solvedcount = 0
                  exIndex[i].forEach(id => {
                    if (solved.indexOf(parseInt(id)) >= 0)
                      solvedcount++
                  })
                %>
                <div class="card-header d-flex py-2" onclick="flip(<%=i%>)" style="cursor:pointer">
                  <div>Stufe <%=i%></div>
                  <div class="ml-auto">
                    <span class="badge badge-dark" style="margin-left:30px"><%=solvedcount%>/<%=count%></span>
                  </div>
                </div>
                <%
                  var ok = (i != user.level)
                 
                %>
                <script>
                  function flip(id) {
                    var e = document.getElementById("level" + id)
                    if (e) {
                      if (e.style.display == "none") {
                        e.style.display = ""
                      } else {
                        e.style.display = "none"
                      }
                    }
                  }
                  
                  function flipAll() {
                    var el = document.getElementById("flipall")
                    var prevState = el.innerHTML
                    if (prevState == "alle aufklappen")
                      el.innerHTML = "alle zuklappen"
                    else if (prevState == "alle zuklappen")
                      el.innerHTML = "alle aufklappen"
                    for (var i = 1; i <= 9; i++) {
                      var x = document.getElementById("level" + i)
                      if (x) {
                        x.style.display = prevState == "alle aufklappen" ? "" : "none"
                      }
                    }
                  }
                </script>
                <div class="card-body py-2" <%=ok?"style=display:none":''%> id="level<%=i%>">
                  <% for (var j = 0; j < exIndex[i].length; j++) { var e = exercises[exIndex[i][j]]%>
	                  <p class="my-2"><a href="level?id=<%=exIndex[i][j]%>"><%=e.name%></a>
	                    <% if (solved.indexOf(parseInt(exIndex[i][j])) >= 0) {  %>
	                      <img src="static/gruener_Haken.gif" height="20px" style="margin-left:5px">
	                    <% } %>
	                  </p>
	                <% } %>
                </div>
              </div>
              <br>
              
	          <% } %>
	          <% if (user.level < 9) {%>
	            <div class="card">
                <div class="card-body">
                  <% if (upgrade != 2) { %>
                    <p>Voraussetzungen für die nächste Stufe:<br>
                    
                    Bearbeite <%=user.level == 4 || user.level == 5 ? "1-":"" %><%=Math.ceil(exIndex[user.level].length/2)%> Aufgaben von Stufe <%=user.level%>
                    
                    <% if (user.level == 5 && !competitionDone) { %>
                      <br>Nimm am Wettbewerb teil.
                    <% } %>
                    
                    </p>
                  <% } %>
                  <a href="upgrade" class="btn btn-sm  btn-warning <%=upgrade==2?'':'disabled'%>">Stufe aufsteigen</a>
                  
                  <% let doneLevel4 = user.solved.filter(x => x >= 40 && x < 50).length %>
                  <% if (user.level == 4 && doneLevel4 > 0 && doneLevel4 < 3) { %>
                    <br><br>
                    Beim ersten Durchlauf kannst du diese Stufe <a href="upgrade">überspringen</a>.
                  <% } %>
                  
                  <% let doneLevel5 = user.solved.filter(x => x >= 50 && x < 60).length %>
                  <% if (user.level == 5 && doneLevel5 > 0 && doneLevel5 < 2) { %>
                    <br><br>
                    Beim ersten Durchlauf kannst du diese Stufe <a href="upgrade">überspringen</a>.
                  <% } %>
                  
                  
                </div>
              </div>
	          <% } %>
        
            <div style="height:250px"></div>
            
            <% if (user.level > 1) { %>
              <p>Zu schnell hochgestuft? Du kannst dich hier wieder <a href="downgrade">zurückstufen.</a></p>
            <% } %>
	        </div>
	      </div>
        
      <% } else { %>
      
        <% ants.sort(function(x, y){
              var xn = x.name.toLowerCase();
              var yn = y.name.toLowerCase();
              if (yn < xn) return 1;
              if (xn < yn) return -1;
              return 0;
            }) 
          var e = exercises[id]
        
        %>
        
        
        <div class = "row justify-content-center">
          <div class="col-sm-12" style="max-width:850px">
	    
            <br>
	            
            <h2><%=e.name%></h2>
	          
	          <script>
	            document.getElementById("site-title").innerHTML += " - " + "<%=e.name%>"
	          </script>
            
            <br>
            
            <%-e.description%>
            
            <style>
              .hint {
                max-height:32px;
                width:100px;
                transition: max-height 1s ease 0.5s, width 1s ease 1.5s;
              }
              
              .hint-title {
                cursor: default;
              }
              
              .hint:hover {
                max-height:200px;
                width:100%;
                transition: width 1s ease 0.5s, max-height 1s linear 1.5s;
              }
            </style>
            
            <% if (e.hint) { %>
              
              <div class="card text-white bg-primary hint">
                <div class="card-header py-1 hint-title">Hinweis</div>
                <div class="card-body py-2">
                  <p class="card-text"><%-e.hint%></p>
                </div>
              </div>
            
            <% } %>
            
            
            
            
            
            <div style="height:1.5rem;"></div>
            <div class="card">
              <div class="card-header py-2">Lösung einreichen</div>
              <div class="card-body">
                <form method="GET" action="levelsim">
                  <input type="hidden" name="num" value="<%=id%>">
                <% if (ants.length > 0) { %>
                  <select name="id" style="max-width:350px;">
                    <% if (ants !== undefined) {
                      for (var i = 0; i < ants.length; i++) { %>
                      <option value="<%=ants[i]._id%>" <%=ants[i]._id == previous ? 'selected="selected"' : ''%>><%=ants[i].name%></option>
                    <% } } %>
                  </select>
                  <input style="margin-left:20px" type="submit" value="Aufgabe starten" class="btn btn-success btn-sm">
                <% } else { %>
                  Erstelle zuerst ein neues Ameisenvolk.
                <% } %>
                </form>
              </div>
            </div>
          </div>
        </div>
        <p></p>
        
        <div style="height:300px"></div>
        
	    
	    <% } %>
	    
	    
    </div>
  </body>
</html>
