<!DOCTYPE html>
<html lang="de">
  <head>
    <% include ../include/commonHead %>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron"><h1>Aufgaben</h1><!--<p>Versuche diese Aufgaben zu lösen. Daran kannst du zeigen, wie gut du schon mit deinen Ameisen umgehen kannst und steige auf.</p>-->
	    </div>
	    
	    <% include menu %>
	    
	    <!-- Here comes the content -->
	    
	    <% if (id < 0) { %>
	    
	      <div class="page-header">
	        <h3>Deine aktuellen Aufgaben</h3>
	      </div>
	      
	      <div class="row">
	        <div class="col-md-2"></div>
	        <div class="col-md-8">
	          <% for (var i = 1; i <= user.level; i++) { %>
	            <div class="panel panel-default">
                <div class="panel-heading">Level <%=i%></div>
                <div class="panel-body">
                  <% for (var j = 0; j < exIndex[i].length; j++) { var e = exercises[exIndex[i][j]]%>
	                  <p><a href="<%=prefix%>/level?id=<%=exIndex[i][j]%>"><%=e.name%></a>
	                    <% if (solved.indexOf(parseInt(exIndex[i][j])) >= 0) {  %>
	                      <img src="/static/gruener_Haken.gif" height="20px" style="margin-left:5px">
	                    <% } %>
	                  </p>
	                <% } %>
                </div>
              </div>
              
	          <% } %>
	          <% if (user.level < 9) {%>
	            <div class="well">
	              <% if (!upgrade) { %>
	                <br><p>Voraussetzungen für das nächste Level:<br>Bearbeite <%=Math.ceil(exIndex[user.level].length/2)%> Aufgaben von Level <%=user.level%>
	                </p>
                <% } %>
                <a href="<%=prefix%>/upgrade" class="btn btn-warning btn-sm <%=upgrade?'':'disabled'%>">Level aufsteigen</a>
              </div>
	          <% } %>
	        </div>
	        <div class="col-md-2"></div>
	      </div>
        
      <% } else { %>
      
        <% ants.sort(function(x, y){
              var xn = x.name.toLowerCase();
              var yn = y.name.toLowerCase();
              if (yn < xn) return 1;
              if (xn < yn) return -1;
              return 0;
            }) 
          var e = exercises[id]
        
        %>
        
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-8">
	    
	          <div class="page-header">
	            <h3><%=e.name%></h3>
	          </div>
	          
	          <script>
	            document.getElementById("site-title").innerHTML += " - " + "<%=e.name%>"
	          </script>
            
            <div style="height:30px"></div>
            
            <%-e.description%>
            
            <div style="height:60px"></div>
            <div class="panel panel-default">
              <div class="panel-heading">Lösung einreichen</div>
              <div class="panel-body">
                <form method="GET" action="<%=prefix%>/levelsim">
                  <input type="hidden" name="num" value="<%=id%>">
                <% if (ants.length > 0) { %>
                  <select name="id">
                    <% if (ants !== undefined) {
                      for (var i = 0; i < ants.length; i++) { %>
                      <option value="<%=ants[i]._id%>" <%=ants[i]._id == previous ? 'selected="selected"' : ''%>><%=ants[i].name%></option>
                    <% } } %>
                  </select>
                  <input style="margin-left:20px" type="submit" value="Level starten" class="btn btn-success btn-sm">
                <% } else { %>
                  Erstelle zuerst ein neues Ameisenvolk.
                <% } %>
                </form>
              </div>
            </div>
          </div>
          <div class="col-md-2"></div>
        </div>
        <p></p>
        
	    
	    <% } %>
	    
      <div style="height:300px"></div>
	    
    </div>
  </body>
</html>
