
<%

function check(num) {
  if (num == highlightElement) {
    return 'class="active"'
  } else {
    return ''
  }
}

%>

<ul class="nav nav-pills" role="tablist">
  <li role="presentation" <%-check(0)%>><a href="/">Dortzentrum</a></li>
  <li role="presentation" <%-check(3)%>><a href="/level">Trainingsplatz</a></li>
  <li role="presentation" <%-check(5)%>><a href="/tutorial">Bibliothek<%-newtuts > 0?
    ' <span class="badge">' + newtuts + '</span>':''%></a></li>
  <% if (user && user.level >= 5) { %>
    <li role="presentation" <%-check(4)%>><a href="/wettbewerb">Wettbewerb</a></li>
  <% } %>
  <li role="presentation"><a href="/logout">abmelden...</a></li>
</ul>
