
<%

function check(num) {
  if (num == highlightElement) {
    return 'class="active"'
  } else {
    return ''
  }
}

%>

<ul class="nav nav-pills" role="tablist">
  <li role="presentation" <%-check(0)%>><a href="<%=prefix%>/">AntIT! Home</a></li>
  <li role="presentation" <%-check(3)%>><a href="<%=prefix%>/level">Aufgaben</a></li>
  <% if (user && user.level >= 5) { %>
    <li role="presentation" <%-check(4)%>><a href="<%=prefix%>/wettbewerb">Wettbewerb</a></li>
  <% } %>
  <li role="presentation" <%-check(5)%>><a href="<%=prefix%>/tutorial">Tutorials</a></li>
  <li role="presentation"><a href="<%=prefix%>/logout">abmelden...</a></li>
</ul>
