<!DOCTYPE html>
<html lang="de">
  <head>
    <% include ../include/commonHead %>
    <style>
      <% if (isPublic) { %>
        .no-public {
          display:none;
        }
      <% } else { %>
        .public-only {
          display:none;
        }
      <% } %>
    </style>
  </head>
  <body>
    <div class="container-fluid">
      <div class="jumbotron" style="background-image: url(/deco/tutorials.png);background-position: right top;background-repeat:no-repeat"><!--<h1>Tutorials</h1><p>Lerne, wie man mit den Ameisen umgeht.</p>-->
	    </div>
	    
	    <% include menu %>
	    
	    <!-- Here comes the content -->
	    
	    <% if (id < 0) { %>
        
        
        <div class = "row justify-content-center">
          <div class="col-sm-12" style="max-width:850px">
            <p class="text-right my-2">
              <a href="/abstract">Inhaltsübersicht</a> / <a href="/info">FAQ</a
            </p>
            <% for (var i = 1; i <= user.level; i++) { %>
              <ul class="list-group">
              <% for (var j = 0; j < index[i].length ; j++) { %>
                <li class="list-group-item py-2">
                  <div class="d-flex">
                    <div>
                      <a href="/tutorial?id=<%=index[i][j]%>"><%=tuts[index[i][j]].name%></a>
                    </div>
                    <% if (done.indexOf(parseInt(index[i][j])) < 0 && !tuts[index[i][j]].noq) { %>
                      <div class="ml-auto"><span class="badge badge-info" style="background-color:#9954bb">neu</span></div>
                    <% } %>
                  </div>
                </li>
              <% } %>
              </ul>
              <div style="height:0.5rem"></div>
            <% } %>
          </div>
        </div>
	    
	    <% } else { %>
	    
	      <% var t = tuts[id] %>
        
        
        <div class = "row justify-content-center">
          <div class="col-sm-12" style="max-width:850px">
	          <br>
            <h2><%=t.name%></h2>
            <br>
            <%-t.text%>
            <% if (!t.noq) { %>
              <hr>
              <div class="card">
                <div class="card-header">
                  Quiz
                </div>
                <div class="card-body">
                  <% for (var i = 0; i < t.questions.length; i++) { %>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" id="question<%=i%>"> <%=t.questions[i]%>
                      </label>
                    </div>
                  <% } %>
                  <button class="btn btn-outline-info btn-sm" onclick="submit()">Überprüfen</button>
                </div>
              </div>
              <script>
                function submit() {
                  var request = new XMLHttpRequest();
                  var answer = []
                  for (var i = 0; i < <%=t.questions.length%>; i++) {
                    answer.push(document.getElementById("question" + i).checked)
                  }
                  var link = "/tutorialcheck?data=" + JSON.stringify(answer) + "&id=<%=id%>"
                  request.open("GET", link);
                  request.addEventListener('load', function(event) {
                     if (request.status >= 200 && request.status < 300) {
                        if (request.responseText == "ok") {
                          alert("Glückwunsch, die Antwort ist richtig!")
                          window.location = "/tutorial"
                        } else {
                          alert("Die Antwort ist falsch.")
                        }
                     }
                  });
                  request.send();
                }           
              </script>
            <% } %>
          </div>
        </div>
        
	    
	    <% } %>    
	    
	    
      <div style="height:300px"></div>
	    
    </div>
  </body>
</html>
