<!DOCTYPE html>
<html lang="de">
  <head>
    <% include ../commonHead %>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron"><h1>Tutorial</h1><p>Lerne, wie man mit den Ameisen umgeht.</p>
	    </div>
	    
	    <% include menu %>
	    
	    <!-- Here comes the content -->
	    
	    <% if (id < 0) { %>
      
        <div class="page-header">
          <h3>Verfügbare Tutorials</h3>
        </div>
        
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-8">
            <ul class="list-group">
            <% for (var i = 1; i <= user.level; i++) { %>
              <% for (var j = 0; j < index[i].length; j++) { %>
                <li class="list-group-item">
                <p><span class="badge" style="background-color:#9954bb">neu</span>
                  <a href="<%=prefix%>/tutorial?id=<%=index[i][j]%>"><%=tuts[index[i][j]].name%></a>
                </p>
                </li>
              <% } %>
            <% } %>
            </ul>
          </div>
          <div class="col-md-2"></div>
        </div>
	    
	    <% } else { %>
	    
	      <% var t = tuts[id] %>
        
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-8">
	          <div class="page-header">
              <h3><%=t.name%></h3>
            </div>
            <%-t.text%>
            <hr>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Fragen</h3>
              </div>
              <div class="panel-body">
                <p>Kreuze die richtigen Aussagen an. Es sind eins bis sechs Aussagen richtig:</p>
                <% for (var i = 0; i < t.questions.length; i++) { %>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox"> <%=t.questions[i]%>
                    </label>
                  </div>
                <% } %>
                <button class="btn btn-info btn-sm">Überprüfen</button>
              </div>
            </div>
          </div>
          <div class="col-md-2"></div>
        </div>
        
	    
	    <% } %>    
	    
	    
      <div style="height:300px"></div>
	    
    </div>
  </body>
</html>
