<!DOCTYPE html>
<html lang="de">
  <head>
    <% include ../include/commonHead %>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron"><h1>Wettbewerb</h1>
	    </div>
	    
	    <% include menu %>
	    
	    <!-- Here comes the content -->    
	    
	    <div class="page-header">
	      <h3>Simulation</h3>
	    </div>
	    <p><a href="javascript:clear()" style="margin-bottom:10px">Felder zurücksetzen</a></p>
	    <script>
	      function clear() {
	        for (i = 1; i <= 8; i++) {
	          document.getElementById("team" + i).value = "none";
	        }
	        document.getElementById("seedon").checked = false
	        document.getElementById("batchon").checked = false
	      }
	    </script>
	    <form method="GET" action="/simulation"><div>
	    <% for(var t = 1; t <= 8; t++) { %>
	        <div style="float:left;padding-left:10px;"> Team <%=t%>:
	        <select name="team<%=t%>" id="team<%=t%>">
            <option value="none">-----</option>
            <% if (ants !== undefined) {
              for (var i = 0; i < ants.length; i++) { %>
              <option value="<%=ants[i]._id%>" <%
                if (user.previous) {
                  if (user.previous["team" + t] == ants[i]._id) {
                    %> selected="selected"<%
                  }
                }
              %>><%=ants[i].name%></option>
            <% } %>
            <% for (var i = 0; i < globals.length; i++) { %>
              <option value="<%=globals[i]._id%>"<%
                if (user.previous) {
                  if (user.previous["team" + t] == globals[i]._id) {
                    %>selected="selected"<%
                  }
                }
              %>><%=globals[i].publicName%></option>
            <% } %>
            <%} %>
      </select></div>
      <% } %></div>
      <div style="clear:both;"><br>
      <% if (false) { %>
        <% if (user.previous) { %>
      <input type="checkbox" id="seedon" name="seedon" value="1"<%=user.previous.seedon==1?'checked':''%>> Seed: <input type="text" name="seed" value="<%=user.previous.seed%>"><br>
      <input type="checkbox" id="batchon" name="batchon" value="1"<%=user.previous.batchon==1?'checked':''%>> Wiederhole: <input type="text" name="repeat" value="<%=user.previous.repeat%>">
        <% } else { %>
      <input type="checkbox" id="seedon" name="seedon" value="1"> Seed: <input type="text" name="seed" value="hello."><br>
      <input type="checkbox" id="batchon" name="batchon" value="1"> Wiederhole: <input type="text" name="repeat" value="10">
        <% } %>
      <br>
      <br>
      
      <% } %>
      <input type="submit" value="Simulation starten" class="btn btn-success">
	    </div>
      </form>
      
      <div class="page-header">
	      <h3>Ergebnisse</h3>
	    </div>
	    
      <div style="height:300px"></div>
	    
    </div>
  </body>
</html>
