<!DOCTYPE html>
<html lang="de">
  <head>
    <% include ../include/commonHead %>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron" style="max-height:200px"><h1>Kampfarena</h1>
	    </div>
	    
	    <% include menu %>
	    
	    <!-- Here comes the content -->    
	    
	    <div class="page-header">
	      <h3>Wettkampf</h3>
	    </div>
	    <p><a href="javascript:clear()" style="margin-bottom:10px">Felder zurücksetzen</a></p>
	    <script>
	      function clear() {
	        for (i = 1; i <= 8; i++) {
	          document.getElementById("team" + i).value = "none";
	        }
	        document.getElementById("seedon").checked = false
	        document.getElementById("batchon").checked = false
	      }
	    </script>
	    <form method="GET" action="/simulation"><div>
	    <%
        var colors = ['#ff0000', '#0000ff', '#00ff00', '#00ffff',
                      '#ffff00', '#ff00ff', '#ffffff', '#000000'];
	    %>
	    <% for(var t = 1; t <= 8; t++) { %>
	        <div style="float:left;padding-left:10px;"> <span style="color:<%-colors[t-1]%>;<%-t==7||t==5?'background-color:lightgrey;':''%>"><strong>Team <%=t%>:</strong></span>
	        <select name="team<%=t%>" id="team<%=t%>">
            <option value="none">-----</option>
            <% if (ants !== undefined) {
              for (var i = 0; i < ants.length; i++) { %>
              <option value="<%=ants[i]._id%>" <%
                if (user.previous) {
                  if (user.previous["team" + t] == ants[i]._id) {
                    %> selected="selected"<%
                  }
                }
              %>><%=ants[i].name%></option>
            <% } %>
            <% for (var i = 0; i < globals.length; i++) { %>
              <option value="<%=globals[i]._id%>"<%
                if (user.previous) {
                  if (user.previous["team" + t] == globals[i]._id) {
                    %>selected="selected"<%
                  }
                }
              %>><%=globals[i].publicName%></option>
            <% } %>
            <%} %>
      </select></div>
      <% } %></div>
      <div style="clear:both;"><br>
      <% if (user.level >= 6) { %>
        <% if (user.previous) { %>
          <% if (user.level >= 9) { %>
            <input type="checkbox" id="seedon" name="seedon" value="1"<%=user.previous.seedon==1?'checked':''%>> Seed: <input type="text" name="seed" value="<%=user.previous.seed%>"><br>
          <% } %>
      <input type="checkbox" id="batchon" name="batchon" value="1"<%=user.previous.batchon==1?'checked':''%>> Wiederhole: <input type="text" name="repeat" value="<%=user.previous.repeat%>">
        <% } else { %>
          <% if (user.leel >= 9) { %>
            <input type="checkbox" id="seedon" name="seedon" value="1"> Seed: <input type="text" name="seed" value="hello."><br>
          <% } %>
      <input type="checkbox" id="batchon" name="batchon" value="1"> Wiederhole: <input type="text" name="repeat" value="10">
        <% } %>
      <br>
      <br>
      
      <% } %>
      <input type="submit" value="Wettkampf starten" class="btn btn-success btn-sm">
	    </div>
      </form>
      
      <div class="page-header">
	      <h3>Ergebnisse</h3>
	    </div>
	    
      <table class="table table-hover">
        <thead>
          <tr><th>Team</th><th>Simulationen</th><th>durchschnittliche Punktzahl</th>
          </tr>
        </thead>
        <tbody id="data">
        </tbody>
      </table>
      
      <p id="log"></p>

      <script>
      function loadData() {
        var request = new XMLHttpRequest()
        request.open("GET", "/ranking")
        request.addEventListener('load', function(event) {
          if (request.status >= 200 && request.status < 300) {
            var table = document.getElementById('data')
            table.innerHTML = ""
            var data = JSON.parse(request.responseText)
            data.stats.forEach(function(e){
              var row = document.createElement('tr')
              var t1 = document.createElement('td')
              t1.innerHTML = e.name
              var t2 = document.createElement('td')
              t2.innerHTML = e.count
              var t3 = document.createElement('td')
              t3.innerHTML = Math.round(e.points)
              row.appendChild(t1)
              row.appendChild(t2)
              row.appendChild(t3)
              table.appendChild(row)
            })
            var log = document.getElementById('log')
            log.innerHTML = ""
            for (var i = 0; i < data.log.length; i++) {
              log.innerHTML += data.log[i]
              log.innerHTML += "<br>"
            }
          }
          setTimeout(loadData, 10000)
        })
        request.send()
      }
      
      loadData()
      </script>
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      

	    
      <div style="height:300px"></div>
	    
    </div>
  </body>
</html>
