<!DOCTYPE html>
<html lang="de">
  <head>
    <% include ../include/commonHead %>
  </head>
  <body>
    <div class="container-fluid">
      <div class="jumbotron" style="background-image: url(/deco/arena.png);background-position: center top;background-repeat:no-repeat">
	    </div>
	    
	    <% include menu %>
	    
      <div class="row justify-content-center">
        <div class="col-sm-12" style="max-width:850px">
          <br>
          <script>
            function clear() {
              for (i = 1; i <= 8; i++) {
                document.getElementById("team" + i).value = "none";
              }
              function reset(id, prop, val) {
                var elem = document.getElementById(id)
                if (elem) {
                  elem[prop] = val
                }
              }
              reset("seedon", 'checked', false)
              reset("batchon", 'checked', false)
              reset("seedvalue", 'value', "")
              reset("repeatvalue", 'value', "")
            }
          </script>
          <form method="GET" action="/simulation"><div>
          <%
            var colors = ['#ff0000', '#0000ff', '#00ff00', '#00ffff',
                          '#ffee00', '#ff00ff', '#000000', '#dddddd'];
          %>
          <% for (var x = 1; x <= 8; x += 2) { %>
            <div class="row">
              <% for (var t = x; t <= x + 1; t++) { %>
                <div class="col-md-6">
                  <label><span class=""><strong>Team <%=t%>:</strong></span>
                  <select name="team<%=t%>" id="team<%=t%>" style="max-width:360px;border-color:<%-colors[t-1]%> !important;color:black;" class="custom-select border rounded p-0">
                    <option value="none">-------</option>
                    <% if (ants !== undefined) {
                      for (var i = 0; i < ants.length; i++) { %>
                      <option value="<%=ants[i]._id%>" <%
                        if (user.previous) {
                          if (user.previous["team" + t] == ants[i]._id) {
                            %> selected="selected"<%
                          }
                        }
                      %>><%=ants[i].name%></option>
                    <% } %>
                    <% for (var i = 0; i < demos.length; i++) { %>
                      <option value="<%=demos[i].id%>"<%
                        if (user.previous) {
                          if (user.previous["team" + t] == demos[i].id) {
                            %>selected="selected"<%
                          }
                        }
                      %>><%="[Beispiel] " + demos[i].name%></option>
                    <% } %>
                    <% for (var i = 0; i < globals.length; i++) { %>
                      <option value="<%=globals[i]._id%>"<%
                        if (user.previous) {
                          if (user.previous["team" + t] == globals[i]._id) {
                            %>selected="selected"<%
                          }
                        }
                      %>><%=globals[i].publicName%></option>
                    <% } %>
                  <%} %>
                  </select></label>
                </div>
              <% } %>
            </div>
          <% } %>
          <hr>
          
          <% if (user.level >= 6) { %>
            <label><input type="checkbox" id="batchon" name="batchon" value="1" <%=user.previous&&user.previous.batchon==1?'checked':''%>>
              <span title="Mehrere Simulationen werden hintereinander ausgeführt, keine 3D-Ansicht">Wiederhole:</span></label>
            <input type="text" name="repeat" id="repeatvalue" style="margin-right:50px" value="<%=user.previous?user.previous.repeat:''%>">
            <label><input type="checkbox" id="harmony" name="harmony" value="1" <%=user.previous&&user.previous.harmony==1?'checked':''%>>
              <span title="Gift greift keine gegnerische Ameisen an, Punkte nur für Nahrungsmitel">Nur-Sammel-Modus</span></label>
            <% if (user.level >= 9 && user.superuser) { %>
              <br><input type="checkbox" id="seedon" name="seedon" value="1" <%=user.previous&&user.previous.seedon==1?'checked':''%>>
                Seed: <input type="text" name="seed" id="seedvalue" value="<%=user.previous?user.previous.seed:''%>">
            <% } %>
          <br>
          <br>
          <% } %>
          
          <div class="d-flex">
            <div><input type="submit" value="Simulation starten" class="btn btn-success btn-sm"></div>
            <div class="ml-auto"><a href="javascript:clear()">Felder zurücksetzen</a></div>
          </div>
          
          </div>
          </form>
          
          <% if (publicServer && !user.superuser) { %>
            <% user.friends.sort() %>
            <br><br><br>
            <h3>Freundesliste</h3>
            <p>Wenn deine Freunde ihre Ameisen freigeben, kannst du diese in deiner Arena auswählen und starten. Damit deine Freunde gegen deine Ameisen spielen können, müssen sie deinen Namen zu ihrer Freundesliste hinzufügen.
            </p>
            <div class="row">
              <div class="col-md-3">
                <p>Dein Name: "<strong><%=user.username%></strong>"</p>
              </div>
              <div class="col-md-4">
                <p>Verknüpfte Freunde:
                  <ul>
                    <% for (let i = 0; i < user.friends.length; i++) { %>
                      <li><%=user.friends[i]%> [<a href="#" onclick="unfriend('<%=user.friends[i]%>');return false;">x</a>]
                    <% } %>
                  </ul>
                </p>
              </div>
              
              <script>
                function unfriend(name) {
                  var result = confirm(name + " aus der Freundesliste entfernen?")
                  if (result) {
                    window.location.href = "/unfriend?name=" + encodeURIComponent(name)
                  }
                }
              </script>
              <div class="col-md-5">
                <% if (friendFlash) { %>
                  <div class="alert alert-warning">
                    <p><%=friendFlash%></p>
                  </div>
                <% } %>
                <p>Neuen Freund hinzufügen:<br>
                
                  <form action="addfriend" methode="get">
                    <label>Name: <input type="text" name="friendname"></label><br>
                    <input type="submit" value="Hinzufügen">
                  </form>
                </p>
              </div>
            </div>
            
            
          <% } %>
          
          <% if (user.level >= 7 && user.superuser) { %>
            <div style="height:50px"></div>
            <hr>
            <br>
            <h3>Statistik</h3>
            
            <table class="table table-hover table-sm table-bordered">
              <thead>
                <tr><th>Team</th><th>Simulationen</th><th>durchschnittliche Punktzahl</th>
                </tr>
              </thead>
              <tbody id="data">
              </tbody>
            </table>
            
            <h3>Verlauf</h3>
            <p id="log"></p>

            <script>
            function loadData() {
              var request = new XMLHttpRequest()
              request.open("GET", "/ranking")
              request.addEventListener('load', function(event) {
                if (request.status >= 200 && request.status < 300) {
                  var table = document.getElementById('data')
                  table.innerHTML = ""
                  var data = JSON.parse(request.responseText)
                  data.stats.forEach(function(e){
                    var row = document.createElement('tr')
                    var t1 = document.createElement('td')
                    t1.innerHTML = e.name
                    var t2 = document.createElement('td')
                    t2.innerHTML = e.count
                    var t3 = document.createElement('td')
                    t3.innerHTML = Math.round(e.points)
                    row.appendChild(t1)
                    row.appendChild(t2)
                    row.appendChild(t3)
                    table.appendChild(row)
                  })
                  var log = document.getElementById('log')
                  log.innerHTML = ""
                  for (var i = 0; i < data.log.length; i++) {
                    log.innerHTML += data.log[i]
                    log.innerHTML += "<br>"
                  }
                }
                setTimeout(loadData, 10000)
              })
              request.send()
            }
            
            loadData()
            </script>
          <% } %>
          
        </div>
      </div>
	    
      <div style="height:300px"></div>
	    
    </div>
  </body>
</html>
